.RegisteredUsers {

  &__section {
    padding: 25px 0;
  }

  &__header {
    display: flex;

    .visibleProjects {
      margin-left: 30px;
    }
  }

  table {
    tr {
      padding: 5px 0;
      display: block;
    }

    td,th {
      padding: 0 8px;
      width: 50px;
      text-align: center;
    }

    .userTableCell {
      width: 150px;
      text-align: left;
    }
  }
}