.Folder {

  &__folderIcon {
    transition: all .25s;

    &:hover{
      color: $mainBlue;
    }
  }

  &__open {
    background: #444;
    i.fa-caret-down {
      transform: rotate(180deg);
    }
  }

  i, p {
    padding: 2px 5px;
  }

  &__closed {
    height: 25px;
    overflow: hidden;
  }

  &__folder {
    display: flex;
    cursor: pointer;
    transition: all .25s;
    border-bottom: 1px solid $mainBlue;

    &__left {
      display: flex;
      width: 75%;
    }

    &__right {
      width: 25%;
      text-align: center;
      display: flex;

      i {
        transition: all .25s;
      }

      &:hover {
        i {
          color: $mainBlue;

        }
      }
    }

    &:hover {
      background: $gray;
    }
  }

  .entityWrapper {
    border-bottom: 1px solid $mainBlue;
  }

  &__entityWrapper {
    width: 100%;
    background: #444;
    font-size: .75rem;


    p {
      padding-left: 15px;
    }
  }

  &__board {
    transition: .25s;
    cursor: pointer;
    &:hover {
      background: $gray;
    }

    &--active{
      background: $mainBlue;

      &:hover {
        background: $mainBlue;
      }
    }
  }

}