@keyframes fadeIn {
  0% { display: block; opacity: 0; }
  100% { opacity: 1; }
}

.Overlay {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100vw;
  height: 100%;
  background: rgba(0,0,0,0.75);
  opacity: 0;
  display: none;

  &--active {
    display: block;
    opacity: 1;
    animation: fadeIn .25s linear;
  }

  &__inner {
    background: $lightBlack;
    color: white;
    width: 300px;
    position: absolute;
    padding: 15px;
    box-sizing: border-box;
    left: calc(50% - 150px); // TODO we probaby want to make this more dynmaic
    top: calc(50% - 75px);
    border: 1px solid $offWhite;


    &__close {
      position: absolute;
      top: 0px;
      right: 5px;
    }
  }
}
