@keyframes fadeIn {
  0% { display: block; opacity: 0; }
  100% { opacity: 1; }
}

.OverlayEntity {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100vw;
  height: 100%;
  background: rgba(0,0,0,0.75);
  opacity: 0;
  display: none;
  justify-content: center;
  align-items: center;

  &--active {
    display: flex;
    opacity: 1;
    animation: fadeIn .25s linear;
  }

  &__inner {
    background: $lightBlack;
    color: white;
    width: 400px;
    max-width: 100%;
    min-height: 200px;
    max-height: 450px;
    position: relative;
    overflow: auto;
    box-sizing: border-box;

    &-header {
      margin-bottom: 15px;
      padding-bottom: 0px;
      padding-top: 10px;
      padding-left: 15px;
    }

    &-title {
      width: 100%;
      border-radius: 0px;
      box-sizing: border-box;
      text-align: center;
      border-left: 0px;
      border-right: 0px;
    }

    &-media {
      width: 100%;
      height: 200px;
      border: 1px solid gray;
      box-sizing: border-box;
      background-image: url('../images/media.png');
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;
      filter: brightness(100%); // prevents it jumping back
      transition: .5s;
      text-align: center;

      &:hover {
        filter: brightness(75%);
        background-color: rgba(0,0,0,.15);
      }

    }

    &__close {
      position: absolute;
      top: 0px;
      right: 12px;
    }
  }

  &__input--label {
    margin-right: 5px;
  }

  &__fieldWrapper {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;

    &--fields {
      display: flex;

      input {
        width: 50%;
      }
    }

    &__buttons {
      display: flex;
      margin-top: 25px;

      button {
        flex-grow: 1;
      }
    }
  }

  @media(max-width: 768px) {
    &--active {
      position: fixed;
    }
  }
}
