.Sidebar {
  background: $darkBlack;
  color: white;
  width: 150px;
  height: calc(100vh - #{$headerHeight});

  &__header {
    display: flex;
    background: $lightBlack;
    justify-content: space-between;
    padding: 8px 0;
    align-items: center;

    h3 {
      position: relative;
      top: 3px; // small hack as things are weirdly aligned
      padding-left: 4px;
    }

    &__controls {
      display: flex;

      .addEntity, .addFolder {
        padding: 5px;
        cursor: pointer;
        transition: .25s;
        display: flex;
        align-items: center;

        &:hover {
          color: $mainBlue;
        }
      }
    }
  }

  .entityWrapper {
    font-size: .75rem;
    padding: 5px 0;
    padding-left: 15px;
    transition: .25s;
    cursor: pointer;

    &:hover {
      background: $gray;
    }

    &.active-board {
      background: $mainBlue;
    }
    &.boardWrapper {
      position: relative;
      i {
        position: absolute;
        top: 8px;
        right: 10px;
      }
    }
  }
}

@media(max-width: 768px) {
  .Sidebar {
    position: absolute;
    z-index: 50;
    top: 40px;
    left: -100%;
    transition: all .25s;
  }

  .App.sidebarActive .Sidebar {
    left: 0;
  }
}
