.Sidebar {
  background: $darkBlack;
  color: white;
  width: 150px;
  height: calc(100vh - #{$headerHeight});

  &__header {
    display: flex;
    background: $lightBlack;
    justify-content: space-between;
    padding: 8px 0;

    h3 {
      position: relative;
      top: 3px; // small hack as things are weirdly aligned
    }

    &__controls {
      display: flex;

      .addEntity, .addFolder {
        padding: 5px;
      }
    }
  }
}
