// Files not starting with _ are consided entrypoints, i.e. they are compiled to .css files
// Partials (files starting with _) can be inclued using @import:
// (import path can include _ but it is not needed)
@import 'global/_reset';
@import 'global/_colors';
@import 'global/_variables';
@import 'global/_button';
@import 'global/_input';
@import 'views/_home';
@import 'views/_app';
@import 'views/projects';
@import 'views/_signup';
@import 'views/_login';
@import 'views/_profile';
@import 'components/_sidebar';
@import 'components/_header';
@import 'components/_overlay';
@import 'components/_overlayEntity';
@import 'components/_folder';
@import 'components/canvas/_canvas';
@import 'components/canvas/_controls';
@import 'components/canvas/_storypoint';
@import 'components/media/_mediaManager';
@import 'components/media/_mediaManagerSmall';
@import 'components/profile/_registeredUsers';

// You can use any sass features, like variables, for instance:
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');
$font-stack: 'Montserrat', sans-serif;
$base-font-size: 1em;

p {
  font-family: $font-stack;
}

h1,h2,h3,h4,h5 {
  font-family: $font-stack;
  font-weight: 500;
}

.body-container {
  font-family: $font-stack;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 72px;
  -webkit-font-smoothing: antialiased;
  font-size: $base-font-size;
  color: #333;
  line-height: 1.5em;
}

h1 {
  font-size: $base-font-size + 1.375;
}

h2 {
  font-size: $base-font-size + 0.875;
}

h3 {
  font-size: $base-font-size + 0.125;
}

a {
  text-decoration: none;
  color: #09f;

 // nesting is also supported
  &:hover {
    text-decoration: underline;
  }
}


/* some style */
/* TODO Need to make this SASS */
body, html {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.Main {
  height: 100vh;
}

// TODO Move this stuff out to it's own file
.CanvasParent {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

#Canvas {
  width: 5000px;
  height: 5000px;
  background: #1e2121;
  position: relative;
}


#Canvas:after {
  content: "";
  background-image: url('../grid.png');
  opacity: 1;
  background-position: -10px -10px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-size: 200px 200px;
  background-repeat: repeat;
}
