// Files not starting with _ are consided entrypoints, i.e. they are compiled to .css files
// Partials (files starting with _) can be inclued using @import:
// (import path can include _ but it is not needed)
@import 'global/_reset';
@import 'global/_colors';
@import 'global/_variables';
@import 'global/_button';
@import 'global/_input';
@import 'global/_layout';
@import 'views/_home';
@import 'views/_app';
@import 'views/projects';
@import 'views/_signup';
@import 'views/_login';
@import 'views/_profile';
@import 'components/_sidebar';
@import 'components/_header';
@import 'components/_overlay';
@import 'components/_overlayEntity';
@import 'components/_loader';
@import 'components/_folder';
@import 'components/_terms';
@import 'components/canvas/_canvas';
@import 'components/canvas/_controls';
@import 'components/canvas/_storypoint';
@import 'components/media/_mediaManager';
@import 'components/media/_mediaManagerSmall';
@import 'components/profile/_registeredUsers';
@import 'components/project/_confirmation';

// You can use any sass features, like variables, for instance:
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap');
$font-stack: 'Inter', sans-serif;
$font-stack-header: 'Poppins', sans-serif;
$sub-header-font: 'Work Sans', sans-serif;
$base-font-size: 1em;

p, li, ul, table {
  font-family: $font-stack;
}

.text-bold {
  font-weight: bold;
}

p { line-height: 1.45; }
p.small {
  font-size: .75rem;
}
p.paraBold {
  font-weight: bold;
  font-size: 1.65em;
}
p.paraHuge {
  font-weight: bold;
  font-size: 2.5rem;
}

h1 {
  font-family: $font-stack-header;
  font-weight: 700;
}

h2,h3 {
  font-family: $sub-header-font;
  font-weight: 600;
}

h4,h5 {
  font-family: $sub-header-font;
}

.body-container {
  font-family: $font-stack;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 72px;
  -webkit-font-smoothing: antialiased;
  font-size: $base-font-size;
  color: #333;
  line-height: 1.5em;
}

h1 {
  font-size: $base-font-size + 1.65;
  line-height: 1.24;
}

h2 {
  font-size: $base-font-size + 1;
  margin-bottom: 48px;

  &.larger {
    font-size: $base-font-size + 1.75;
  }
}

h3 {
  font-size: $base-font-size + 0.125;
}

h4 {
  font-size: $base-font-size;
}

a {
  text-decoration: none;
  color: #09f;

 // nesting is also supported
  &:hover {
    text-decoration: underline;
  }
}

.noBottomMargin {
  margin-bottom: 10px;
}


/* some style */
/* TODO Need to make this SASS */
body, html {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

// .Main {
//   height: 100vh;
// }

// TODO Move this stuff out to it's own file
.CanvasParent {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

#Canvas {
  width: 5000px;
  height: 5000px;
  background: #1e2121;
  position: relative;
}


#Canvas:after {
  content: "";
  background-image: url('../grid.png');
  opacity: 1;
  background-position: -10px -10px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-size: 40px 40px;
  background-repeat: repeat;
}
