.App {
  display: flex;
  flex-wrap: wrap;

  &__canvasWrapper {
    width: calc(100% - 150px); // current the width of the sidebar - might just abs it so 100% then
    height: calc(100vh - #{$headerHeight});
    overflow: hidden;
    background: $darkBlack;
  }

  @media(max-width: 768px) {
    overflow: hidden;
    
    &__canvasWrapper {
      width: 100%;
      position: relative;
      transition: left 0.25s;
      left: 0;
    }

    &.sidebarActive .App__canvasWrapper {
      left: 150px;
    }
  }
}