.Home {
  background: #fff;
  color: black;

  ul {
    display: flex;

    li {
      padding: 0 8px;
      transition: all .5s;

      &:hover {
        cursor: pointer;
        color: #4a80f0;
      }
    }
  }

  img.border {
    box-sizing: border-box;
  }


  &__header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: $global-padding $global-padding;
    color: white;

    &__inner {
      display: flex;
      justify-content: space-between;
      max-width: 1200px;
      margin: 0 auto;
    }

    h1 {
      margin-left: 0;
      font-size: 1.875em;
    }

    &__block {
      display: flex;

      .navList {
        align-items: center;
        padding-left: 35px;
      }

      &--nav {
        justify-content: center;
        flex-direction: column;

        ul {
          align-items: center;
        }
      }
    }
  }

  &__mainVisual {
    height: 100vh;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    background-image: url('/images/home/dots.png'), linear-gradient(to bottom, #20232d, #151720 80%);
    background-position: left;
    background-repeat: no-repeat;

    &__dots {
      position: absolute;
      top: 20%;
      left: -160px;
      width: 385px;
      height: 389px;
      object-fit: contain;
    }

    &__inner {
      display: flex;
      flex-direction: row;
      max-width: $max-width;
      padding: 0 15px;
    }

    &-left {
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 10px;

      button {
        margin-top: 15px;
      }
    }

    &-right {
      width: 60%;
      position: relative;
      padding: 0 10px;

      img {
        position: relative;
        z-index: 2;
      }

      .Rectangle-block {
        width: 75px;
        height: 76px;
        margin: 0 0 0 1px;
        padding: 31px 0 0 30px;
        background: repeating-linear-gradient(
          45deg,
          #00ab96,
          #00ab96 10px,
          $lightBlack 10px,
          $lightBlack 20px
        );
        position: absolute;
        bottom: -20px;
        left: -20px;
        z-index: 1;
      }
    }
  }

  &__ribbon {
    text-align: center;
    padding: $large-section-padding 0;
    background-image: url('/images/home/dots-r.png');
    background-position: right;
    background-repeat: no-repeat;

    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      max-width: $max-width;
      margin: 0 auto;

      div {
        width: 25%;
        padding: 39px 70px 40px 69px;
        border-radius: 8px;
        box-shadow: 0 0 7px -3px rgba(0, 0, 0, 0.5);
        border: solid 1px #dededf;
        background-color: #ffffff;
        // margin: 48px 35px 75px;
        max-width: 210px;
        text-align: center;
      }
    }
  }

  &__sectionPadding {
    padding: $large-section-padding $global-padding;
    background: $lightBlack;
  }

  &__section {
    display: flex;
    max-width: $max-width;
    margin: 0 auto;


    &.alternate {
      background: none;
    }

    &--side {
      width: 50%;
      padding: 30px;
      display: flex;
      align-items: center;
      position: relative;

      .imageContainer {
        position: relative;
      }

      p {
        color: white;
        font-size: 1.375rem;
        max-width: 466px;
      }

      h2 {
        font-stretch: normal;
        font-style: normal;
        line-height: 1.14;
        letter-spacing: normal;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      .grad1 {
        background-image: linear-gradient(106deg, #f3a486 3%, #f4a9ec 95%);
      }

      .grad2 {
        background-image: linear-gradient(101deg, #6fd2ff -5%, #c09bfc 49%);
      }

      .grad3 {
        background-image: linear-gradient(105deg, #23bcba, #45e994);
      }

      img {
        position: relative;
        z-index: 2;
      }
      .oval {
        position: absolute;
        z-index: 1;
        opacity: .25;
        max-height: 50%;

        &.firstOval {
          width: 219px;
          height: 219px;
          bottom: 7%;
          right: 7%;
          box-shadow: 0 2px 50px 20px #f3a486;
        }

        &.secondOval {
          width: 173px;
          height: 173px;
          box-shadow: 0 2px 30px 20px #007dff;
          right: auto;
          left: 4%;
          bottom: 4%;
        }

        &.thirdOval {
          width: 215px;
          height: 215px;
          bottom: 8%;
          right: 4%;
          box-shadow: 0 2px 50px 20px #5ac993;
        }
      }
    }
  }

  &__lgSection {
    padding: $large-section-padding $global-padding;
    max-width: $max-width;
    margin: 0 auto;

    &__header {
      text-align: center;
      h2 {
        margin-bottom: 20px;
      }
    }

    &__featureWrap {
      padding-top: 130px;
      display: flex;

      .Home__feature {
        $left-push: 16px;

        padding: 0 15px;

        img {
          padding-left: $left-push;
        }
        &-header {
          position: relative;
          padding-top: $left-push;
          padding-left: $left-push;

          &::before {
            content: "";
            position: absolute;
            left: 0;
            width: 3px;
            height: 18px;
            background-color: #1664ff;
          }
        }

        p {
          padding-top: $left-push;
        }
      }
    }

  }


  &__pricing {
    padding: $large-section-padding $global-padding;
    background: $lightBlack;
    color: #fff;
    position: relative;

    &__topline {
      position: absolute;
      top: 0;
      right: 0;
      width: 230px;
      height: 248px;
      object-fit: contain;
    }

    &__bottomline {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 182px;
      height: 141px;
      object-fit: contain;
    }

    &__header {
      text-align: center;
    }

    &__options {
      display: flex;
      justify-content: center;
    }

    &__card {
      padding: 20px 35px 35px 27px;
      border-radius: 6px;
      background-color: #ffffff;
      color: $darkestBlack;
      margin: 0 35px;

      &__header {
        text-align: center;
        padding-bottom: 15px;
        border-bottom: 1px solid #eaedf3;
      }

      &__inner {
        padding-top: 15px;

        p {
          position: relative;
          padding-left: 10px;

          &:before {
            content: '';
            position: absolute;
            top: 8px;
            left: 0;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background: $mainBlue;
          }
        }

        p:not(:first-child) {
          padding-top: 10px;

          &:before {
            top: 18px;
          }
        }

        button {
          margin-top: 30px;
          width: 100%;
        }
      }
    }

    &__callout {
      padding-top: calc(2 * #{$large-section-padding});
      text-align: center;

      h2, p {
        margin-bottom: 15px;
      }
    }
  }


  &__footer {
    padding: $large-section-padding $global-padding;
    padding-bottom: 50px;
    font-size: .75rem;

    ul {
      flex-direction: column;

      li {
        display: block;
        padding-top: 10px;
      }
    }

    &__inner {
      max-width: 1200px;
      margin: 0 auto;
      display: flex;
    }

    &__section {
      flex-grow: 1;

      &.largeFooterSection {
        flex-grow: 2;
        display: flex;
      }
    }

    &__subSection {
      flex-grow: 1;
    }
  }
}

@media(max-width: 1400px) {
  .flair {
    display: none;
  }
}


// MOBILE STYLES FOR HOME Home-page
@media (max-width: 769px) {
  .Home__header {
    flex-wrap: wrap;

    &__block {
      width: 100%;
    }
  }
  .Home__mainVisual__inner {flex-wrap: wrap;}
  .Home__mainVisual-left, .Home__mainVisual-right {
    width: 100%;
  }
  .Home__mainVisual-left {margin: 45px 0; text-align: center;}
  .Home__mainVisual-right {
    text-align: center;

    &__imageContainer {
      position: relative;
      width: 75%;
      margin: 0 auto;
    }
  }
  .Home__mainVisual-right img {
    width: 100%;
    margin: 0 auto;
  }

  .Home__ribbon__wrapper {flex-wrap: wrap;}
  .Home__ribbon__wrapper div {
    width: 100%;
    margin-bottom: 50px;

    img { width: 40%; }
  }

  .Home__section {flex-wrap: wrap;}
  .Home__section--side {
    width: 100%;
  }

  .Home__lgSection__featureWrap {
    width: 100%;
    flex-wrap: wrap;
  }

  .Home__feature {
    width: 100%;
  }

  .Home__feature:not(:first-child) {
    margin-top: 30px;
  }

  .Home__pricing__options {flex-wrap: wrap;}
  .Home__pricing__card:first-child {margin-bottom: 25px;}
}