.Profile {
  background: $darkBlack;
  color: white;
  height: 100%;

  &__header {
    background: $lightBlack;
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;

    h2 {
      margin-bottom: 0px;
    }

    &__nav p {
      padding: 0 10px;
      transition: all .5s;
      line-height: 30px;

      &:hover {
        cursor: pointer;
        color: #4a80f0;
      }
    }
  }

  &__inner {
    max-width: 1024px;
    margin: 0 auto;
    margin-top: 25px;

    form {
      max-width: 480px;
    }
  }

  &__row {
    margin: 25px 0;
    padding: 40px 0;
    border-bottom: 1px solid $gray;
  }

  .subscribe_button {
    margin-top: 10px;
  }
}
