.Profile {
  background: $darkBlack;
  color: white;

  &__header {
    background: $lightBlack;
    display: flex;
    justify-content: space-between;

    h2 {
      cursor: pointer;
    }
  }

  &__inner {
    max-width: 1024px;
    margin: 0 auto;

    form {
      max-width: 480px;
    }
  }

  &__row {
    margin: 25px 0;
  }
}
