/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button {
  background: #2cb3fc;
  border: 1px solid #fcfeff;
  color: white;
  padding: 8px 12px;
  cursor: pointer;
  transition: all .5s; }
  button:hover {
    background: #1c80b6; }

input, textarea {
  background: #282828;
  border: 1px solid #9f9f9f;
  border-radius: 4px;
  padding: 8px;
  color: white; }

.App {
  display: flex;
  flex-wrap: wrap; }
  .App__canvasWrapper {
    width: calc(100% - 150px);
    height: calc(100vh - 30px);
    overflow: hidden; }

.Projects {
  background: #1e1d18;
  height: 100vh; }

.Sidebar {
  background: #333;
  color: white;
  width: 150px;
  height: calc(100vh - 30px); }
  .Sidebar__header {
    display: flex;
    background: #222;
    justify-content: space-between;
    padding: 8px 0; }
    .Sidebar__header h3 {
      position: relative;
      top: 3px; }
    .Sidebar__header__controls {
      display: flex; }
      .Sidebar__header__controls .addEntity, .Sidebar__header__controls .addFolder {
        padding: 5px; }

.Header {
  width: 100%;
  height: 30px; }

@keyframes fadeIn {
  0% {
    display: block;
    opacity: 0; }
  100% {
    opacity: 1; } }

.Overlay {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  opacity: 0;
  display: none; }
  .Overlay--active {
    display: block;
    opacity: 1;
    animation: fadeIn .25s linear; }
  .Overlay__inner {
    background: #282828;
    color: white;
    width: 300px;
    height: 150px;
    position: absolute;
    padding: 25px;
    box-sizing: border-box;
    left: calc(50% - 150px);
    top: calc(50% - 75px);
    border: 1px solid #fcfeff; }
    .Overlay__inner-header {
      margin-bottom: 15px;
      padding-bottom: 15px; }
    .Overlay__inner__close {
      position: absolute;
      top: 5px;
      right: 5px; }

@keyframes fadeIn {
  0% {
    display: block;
    opacity: 0; }
  100% {
    opacity: 1; } }

.OverlayEntity {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  opacity: 0;
  display: none; }
  .OverlayEntity--active {
    display: block;
    opacity: 1;
    animation: fadeIn .25s linear; }
  .OverlayEntity__inner {
    background: #282828;
    color: white;
    width: 400px;
    min-height: 200px;
    max-height: 400px;
    position: absolute;
    left: calc(50% - 200px);
    top: 10%;
    overflow: scroll;
    padding: 25px;
    box-sizing: border-box;
    border: 1px solid #fcfeff; }
    .OverlayEntity__inner-header {
      margin-bottom: 15px;
      padding-bottom: 15px; }
    .OverlayEntity__inner__close {
      position: absolute;
      top: 5px;
      right: 5px; }
  .OverlayEntity__fieldWrapper {
    margin-bottom: 15px; }

.Folder i, .Folder p {
  padding: 5px; }

.Folder__closed {
  height: 25px;
  overflow: hidden; }

.Folder__folder {
  display: flex;
  cursor: pointer;
  transition: all .25s; }
  .Folder__folder__left {
    display: flex;
    width: 75%; }
  .Folder__folder__right {
    width: 25%;
    text-align: center; }
    .Folder__folder__right i {
      transition: all .25s; }
    .Folder__folder__right:hover i {
      font-size: 1.5rem; }
  .Folder__folder:hover {
    background: #646464; }

.Folder__entityWrapper {
  width: 100%;
  background: #444; }
  .Folder__entityWrapper p {
    padding-left: 10px; }

.Folder__board {
  transition: .25s;
  cursor: pointer; }
  .Folder__board:hover {
    background: #646464; }
  .Folder__board--active {
    background: #2cb3fc; }
    .Folder__board--active:hover {
      background: #2cb3fc; }

.Controls {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  z-index: 2;
  border: 1px solid #646464; }
  .Controls p {
    padding: 5px 10px;
    color: white;
    transition: all .25s;
    font-size: 1.25rem; }
    .Controls p:hover {
      background: #2cb3fc;
      cursor: pointer; }

.Storypoint {
  width: 250px;
  height: 300px;
  background: #1e1d18;
  border: 1px solid #9f9f9f;
  padding-top: 15px; }
  .Storypoint input, .Storypoint textarea {
    width: 100%;
    border-radius: 0px;
    box-sizing: border-box; }
  .Storypoint textarea {
    height: 264px; }

.body-container {
  font-family: "Helvetica Neue", Verdana, Helvetica, Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 72px;
  -webkit-font-smoothing: antialiased;
  font-size: 1em;
  color: #333;
  line-height: 1.5em; }

h1 {
  font-size: 2.375em; }

h2 {
  font-size: 1.875em; }

h3 {
  font-size: 1.125em; }

a {
  text-decoration: none;
  color: #09f; }
  a:hover {
    text-decoration: underline; }

/* some style */
/* TODO Need to make this SASS */
body, html {
  margin: 0;
  padding: 0;
  font-size: 16px; }

.Main {
  height: 100vh; }

.CanvasParent {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative; }

#Canvas {
  width: 5000px;
  height: 5000px;
  background: #1e2121;
  position: relative; }

#Canvas:after {
  content: "";
  background-image: url("../grid.png");
  opacity: 1;
  background-position: -10px -10px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-size: 200px 200px;
  background-repeat: repeat; }
