.Controls {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  z-index: 2;
  border: 1px solid $gray;

  p {
    padding: 5px 10px;
    color: white;
    transition: all .25s;
    font-size: 1.25rem;

    &:hover {
      background: $mainBlue;
      cursor: pointer;
    }
  }
}