button {
  background: $mainBlue;
  border: none;
  color: white;
  padding: 8px 16px;
  cursor: pointer;
  transition: all .5s;
  border-radius: 12px;

  &:hover {
    background: $darkerBlue;
  }

  &.danger {
    background: #fa6476;

    &:hover {
      background: #e45c6c;
    }
  }
}