button {
  background: $mainBlue;
  border: none;
  color: white;
  cursor: pointer;
  transition: all .5s;
  padding: 10px 24px;
  border-radius: 6px;
  box-shadow: 0 1px 1px 0 rgba(19, 31, 21, 0.1), inset 0 2px 0 0 rgba(255, 255, 255, 0.06);
  font-size: 1rem;


  &:hover {
    background: $darkerBlue;
  }

  &.danger {
    background: #fa6476;

    &:hover {
      background: #e45c6c;
    }
  }

  &.small {
    font-size: .95rem;
    padding: 5px 19px 5px 20px;
  }
}