button {
  background: $mainBlue;
  border: 1px solid $offWhite;
  color: white;
  padding: 8px 12px;
  cursor: pointer;
  transition: all .5s;
  border-radius: 4px;

  &:hover {
    background: $darkerBlue;
  }

  &.danger {
    background: #fc2c2c;

    &:hover {
      background: #ca2424;
    }
  }
}