$darkestBlack: #1d1d1d;
$darkBlack: #25323d;
$lightBlack: #20242e;

// $gray: #646464;/ saving for old
$gray: #303738;
$lightGray: #9f9f9f;
$offWhite: #fcfeff;

$mainBlue: #1664ff;
$darkerBlue: #4577e0;


$green: #28a450;
$darkerRed: #A30B37;