$darkestBlack: #000000;
$darkBlack: #272f42;
$lightBlack: #353c4f;

// $gray: #646464;/ saving for old
$gray: #303738;
$lightGray: #9f9f9f;
$offWhite: #fcfeff;

$mainBlue: #4a80f0;
$darkerBlue: #4577e0;