$global-padding: 15px;
$standard-box-padding: 15px 10px;
$large-section-padding: 75px;
$max-width: 1200px;

.standard-padding {
  padding: $standard-box-padding;
}

// CANVS PAGE STUFF
$headerHeight: 40px;


h2 {
  margin-bottom: 15px;
}

h3 {
  margin-bottom: 10px;
}

h4 {
  margin-top: 10px
}